<div class="footer">
		<div class="container"> 
			<div class="footer-bottom-left">
				<p>&copy 2016 Globe Trotting. All rights reserved | Design by <a href="{{asset('assets/home')}}/http://w3layouts.com/">W3layouts.</a></p>
			</div>
			<div class="footer-bottom-right">
				<ul>
					<li><a href="#" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a></li>
					<li><a href="#" class="icon-button google"><i class="icon-google"></i><span></span></a></li>
					<li><a href="#" class="icon-button v"><i class="icon-v"></i><span></span></a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>