
{% extends 'admin/admin/image/image-base.html.twig' %}
{% block body %}
    <div style="padding-top: 20px;">
        <div class="container">
            <div class="card-view">
                <div class="card-header" style="">
                    {{ include('admin/admin/image/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
